<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  <div class="container">
    <h1>El mejor equipo del fútbol del mundo</h1>
    <img src="assets\palmares.png" alt="Escudo del Real Madrid">
    <p>El Real Madrid Club de Fútbol, fundado en 1902, es uno de los clubes más laureados y reconocidos a nivel mundial.</p>
    <p>Con una rica historia de triunfos en la Liga Española y la UEFA Champions League, el Real Madrid ha dejado una huella imborrable en el fútbol.</p>
    <img src="assets\campeones.png" alt="Partido del Real Madrid">
    <p>Su estadio, el Santiago Bernabéu, es un templo del fútbol donde miles de aficionados se reúnen para apoyar a su equipo.</p>
    <footer>¡Hala Madrid!!!</footer>
</div>
</body>
</html>
